@import "tailwindcss";
@import "tw-animate-css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Serif';
  src: url('/fonts/PPNeueWorld-Regular.otf') format('otf');
}

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatype-Medium-Trial.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url('/fonts/ABCDiatype-MediumItalic-Trial.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  background-color: black;
  color: white;
}

p, h3{
  font-family: 'ABC Diatype';
}

h1, h2{
  font-family: 'Serif';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}